:root{
  --bg-oscuro: #212529;
  --amarillo: #f7a109;
  --amarillo-oscuro:#5c4601;
  --blanco: #dee2e6;
}
body{
  background-color: var(--bg-oscuro);
  min-height: 100vh;
  padding: 0;
}
.gradiente{
  background: linear-gradient(350deg, var(--amarillo) 3%, var(--amarillo-oscuro) 13%, var(--bg-oscuro) 30%);
}
.logo-navbar{
  width: 15rem;
}
hr{
  border: solid 1.2px var(--blanco) !important;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.text-underline{
  text-decoration: underline;
}

a{
  color: inherit !important;
  text-decoration: inherit !important;
}

.borde-blanco{
  border: solid 1px whitesmoke;
}

.alto-pantalla{
  min-height: 66vh !important;
}

.borde-negro{
  border:solid 2px black;
}

.borde-verde{
  border: solid 4px green !important;
}

.borde-rojo{
  border: solid 4px red !important;
}

.rounded-edges{
  th:first-of-type {
    border-top-left-radius: 4px;
  }
  th:last-of-type {
    border-top-right-radius: 4px;
  }
  tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 4px;
  }
  tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 4px;
  }
}

table.table-light > tbody > tr > td{
  border:0px !important;
}

@media (min-width: 576px) {
  .my-sm-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
  }
}

/* Extra pequeño (xs) */
@media (min-width: 0px) {
  .my-xs-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
  }
}

/* Pequeño (sm) */
@media (min-width: 576px) {
  .my-sm-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
  .mb-sm-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
  }
}

/* Mediano (md) */
@media (min-width: 768px) {
  .my-md-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
  }
}

/* Grande (lg) */
@media (min-width: 992px) {
  .my-lg-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
  }
}

/* Extra grande (xl) */
@media (min-width: 1200px) {
  .my-xl-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
  }
}

/* Extra extra grande (xxl) */
@media (min-width: 1400px) {
  .my-xxl-auto {
      margin-top: auto !important;
      margin-bottom: auto !important;
  }
}